* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #610303;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
    background-color: rgba(9, 235, 197, 0.363);
    transition: transform 200ms ease-in;
}

#greetButton{
    background-color: #1a508a;
}
#greetButton::after{
    transform: scaleX(0);
    transform-origin: right;
}
#greetButton:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

#resetButton {
background-color: #074907;
}

#resetButton::after{
    transform: scaleY(0);
    transform-origin: top;
}
#resetButton:hover::after{
    transform: scaleY(1);
    transform-origin: bottom;
}


#greetingMessage {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

